<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>672692498710-6eqb0a5qvsc9ft3pb704174s4gf915eg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.672692498710-6eqb0a5qvsc9ft3pb704174s4gf915eg</string>
	<key>API_KEY</key>
	<string>AIzaSyCiP90R5bu-5zu6r5MavzdMBypROKwRagc</string>
	<key>GCM_SENDER_ID</key>
	<string>672692498710</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.userApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>mecommerceapp</string>
	<key>STORAGE_BUCKET</key>
	<string>mecommerceapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:672692498710:ios:3d423b41bf6f1d49722037</string>
</dict>
</plist>